<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
  <title>Profile</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <style>
    .post-images img {
      max-width: 100px;
      max-height: 100px;
      margin-right: 10px;
    }
    .friends-list ul {
      list-style-type: none;
      padding: 0;
    }
    .friends-list li {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }
    .friends-list img {
      margin-right: 10px;
      border-radius: 50%;
    }
    .friends-list form {
      margin-left: auto;
    }
  </style>
  <!-- Replace link CSS from layout -->
  <th:block th:replace="~{layout :: link-css}"></th:block>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/js/custom_js.js"></script>
</head>
<body layout:decorate="~{layout}">
<!-- Replace header from layout -->
<th:block th:replace="~{layout :: header}"></th:block>

<main layout:fragment="content" class="container mt-5">
  <section id="profileInfo" th:data-is-own-profile="${isOwnProfile}" class="text-center mb-4">
    <img th:if="${imageBase64 != null}" th:src="'data:image/jpeg;base64,' + ${imageBase64}" alt="Profile Image" class="rounded-circle" width="100" height="100" />
    <p class="mt-3">Name: <span th:text="${user.name}"></span></p>
    <button id="updateButton" class="btn btn-primary updateButton">Update Profile</button>
  </section>

  <section id="updateFormContainer" style="display: none;" class="mb-5">
    <form id="updateForm" th:action="@{/profile}" method="post" enctype="multipart/form-data" th:object="${profileDTO}" class="border p-3 rounded">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" th:field="*{name}" class="form-control" />
      </div>
      <div class="form-group">
        <label for="image">Profile Image:</label>
        <input type="file" id="image" name="image" accept="image/*" class="form-control-file" />
      </div>
      <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary">Update</button>
        <button type="button" id="cancelButton" class="btn btn-secondary">Cancel</button>
      </div>
    </form>
  </section>

  <!-- Friends List -->
  <section class="mb-5">
    <h2>Bạn bè</h2>
    <ul class="list-group friends-list">
      <li th:each="friend : ${friends}" class="list-group-item d-flex align-items-center">
        <img th:if="${friend.friend.image != null}"
             th:src="'data:image/jpeg;base64,' + ${friend.friend.getBase64Image()}"
             class="avatar-image img-thumbnail" alt="Avatar" width="50" height="50"/>
        <span th:text="${friend.friend.name}"></span>
        <button type="button" class="btn btn-danger btn-sm ml-auto unfriend-btn" th:data-id="${friend.friend.id}">Unfriend</button>
      </li>
    </ul>
  </section>

  <!-- User's Posts -->
  <div th:if="${not #lists.isEmpty(userPosts)}">
    <h2>Bài viết của bạn</h2>
    <div th:each="userPost : ${userPosts}" class="card mb-3">
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-between mb-2">
          <div class="d-flex align-items-center">
            <a th:href="@{/profile(userId=${userPost.user.id})}">
              <img th:if="${userPost.user.image != null}"
                   th:src="'data:image/jpeg;base64,' + ${userPost.user.getBase64Image()}"
                   class="rounded-circle mr-2"
                   width="50" height="50" />
            </a>
            <div>
              <h5 class="card-title mb-0" th:text="${userPost.user.name}"></h5>
              <h6 class="card-subtitle mt-1 text-muted" style="color: #6c757d; font-size: 0.85rem;" th:text="${#dates.format(userPost.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></h6>
            </div>
          </div>
          <div class="d-flex align-items-center ml-auto">
            <form th:if="${#lists.contains(followedPosts, userPost)}" th:action="@{/user-posts/{id}/unfollow(id=${userPost.id})}" method="post" class="d-inline mr-2">
              <button type="submit" class="btn btn-outline-info">Unfollow</button>
            </form>
            <form th:unless="${#lists.contains(followedPosts, userPost)}" th:action="@{/user-posts/{id}/follow(id=${userPost.id})}" method="post" class="d-inline mr-2">
              <button type="submit" class="btn btn-outline-info">Follow</button>
            </form>
          </div>
        </div>
        <hr>
        <div class="d-flex align-items-center text-right p-2" style="background-color: #f8f9fa; color: #6c757d; border-radius: 5px;">
          <p class="mb-0 mr-2">Class: <span th:text="${userPost.classEntity.name}"></span></p>
          <p class="mb-0"> Subject: <span th:text="${userPost.subjectEntity.name}"></span></p>
        </div>


        <p class="card-text mt-2" th:text="${userPost.content}"></p>
        <div class="post-images mb-2 d-flex flex-wrap">
          <a th:each="image : ${userPost.images}" th:href="'data:' + ${image.type} + ';base64,' + ${@base64EncoderUtil.encodeToString(image.data)}" data-lightbox="userPostImages">
            <img th:src="'data:' + ${image.type} + ';base64,' + ${@base64EncoderUtil.encodeToString(image.data)}" class="img-thumbnail mr-1 mb-1" style="width: 100%; max-width: 400px; height: auto;" />
          </a>
        </div>
        <hr>
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex justify-content-start align-items-center">
            <button type="button" class="btn btn-outline-primary like-btn mr-2" th:data-post-id="${userPost.id}">
              <i class="fa-solid fa-thumbs-up"></i> <!-- Icon for Like -->
              <span th:text="${#lists.contains(userPost.userPostLikes, #authentication.principal.id) ? 'Unlike' : 'Like'}" class="ml-1"></span>
            </button>
            <span class="like-count mr-2" th:text="${userPost.likes}"></span>
            <a th:href="@{/user-posts/{id}(id=${userPost.id})}" class="btn btn-outline-secondary mr-2">
              <i class="fa-regular fa-message"></i> Comment
            </a>
            <p class="mb-0"><span th:text="${userPost.commentCount}"></span></p>
          </div>
          <form th:action="@{/user-posts/{id}/report(id=${userPost.id})}" method="post" class="d-inline-flex align-items-center mr-2">
            <input type="text" name="reason" placeholder="Reason for reporting" class="form-control mr-2" required>
            <button type="submit" class="btn btn-outline-warning">
              <i class="fa-solid fa-flag"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <section th:if="${#lists.isEmpty(userPosts)}">
    <p>No posts found.</p>
  </section>

  <!-- Followed Posts -->
  <section th:if="${not #lists.isEmpty(followedPosts)}" class="mb-5">
    <h2>Bài viết đang theo dõi</h2>
    <div th:if="${not #lists.isEmpty(userPosts)}">
      <div th:each="userPost : ${userPosts}" class="card mb-3">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between mb-2">
            <div class="d-flex align-items-center">
              <a th:href="@{/profile(userId=${userPost.user.id})}">
                <img th:if="${userPost.user.image != null}"
                     th:src="'data:image/jpeg;base64,' + ${userPost.user.getBase64Image()}"
                     class="rounded-circle mr-2"
                     width="50" height="50" />
              </a>
              <div>
                <h5 class="card-title mb-0" th:text="${userPost.user.name}"></h5>
                <h6 class="card-subtitle mt-1 text-muted" style="color: #6c757d; font-size: 0.85rem;" th:text="${#dates.format(userPost.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></h6>
              </div>
            </div>
            <div class="d-flex align-items-center ml-auto">
              <form th:if="${#lists.contains(followedPosts, userPost)}" th:action="@{/user-posts/{id}/unfollow(id=${userPost.id})}" method="post" class="d-inline mr-2">
                <button type="submit" class="btn btn-outline-info">Unfollow</button>
              </form>
              <form th:unless="${#lists.contains(followedPosts, userPost)}" th:action="@{/user-posts/{id}/follow(id=${userPost.id})}" method="post" class="d-inline mr-2">
                <button type="submit" class="btn btn-outline-info">Follow</button>
              </form>
            </div>
          </div>
          <hr>
          <div class="d-flex align-items-center text-right p-2" style="background-color: #f8f9fa; color: #6c757d; border-radius: 5px;">
            <p class="mb-0 mr-2">Class: <span th:text="${userPost.classEntity.name}"></span></p>
            <p class="mb-0"> Subject: <span th:text="${userPost.subjectEntity.name}"></span></p>
          </div>


          <p class="card-text mt-2" th:text="${userPost.content}"></p>
          <div class="post-images mb-2 d-flex flex-wrap">
            <a th:each="image : ${userPost.images}" th:href="'data:' + ${image.type} + ';base64,' + ${@base64EncoderUtil.encodeToString(image.data)}" data-lightbox="userPostImages">
              <img th:src="'data:' + ${image.type} + ';base64,' + ${@base64EncoderUtil.encodeToString(image.data)}" class="img-thumbnail mr-1 mb-1" style="width: 100%; max-width: 400px; height: auto;" />
            </a>
          </div>
          <hr>
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-start align-items-center">
              <button type="button" class="btn btn-outline-primary like-btn mr-2" th:data-post-id="${userPost.id}">
                <i class="fa-solid fa-thumbs-up"></i> <!-- Icon for Like -->
                <span th:text="${#lists.contains(userPost.userPostLikes, #authentication.principal.id) ? 'Unlike' : 'Like'}" class="ml-1"></span>
              </button>
              <span class="like-count mr-2" th:text="${userPost.likes}"></span>
              <a th:href="@{/user-posts/{id}(id=${userPost.id})}" class="btn btn-outline-secondary mr-2">
                <i class="fa-regular fa-message"></i> Comment
              </a>
              <p class="mb-0"><span th:text="${userPost.commentCount}"></span></p>
            </div>
            <form th:action="@{/user-posts/{id}/report(id=${userPost.id})}" method="post" class="d-inline-flex align-items-center mr-2">
              <input type="text" name="reason" placeholder="Reason for reporting" class="form-control mr-2" required>
              <button type="submit" class="btn btn-outline-warning">
                <i class="fa-solid fa-flag"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>  </section>
  <section th:if="${#lists.isEmpty(followedPosts)}">
    <p>No posts found.</p>
  </section>
</main>

<!-- Replace footer from layout -->
<th:block th:replace="~{layout :: footer}"></th:block>

<!-- Include Bootstrap JS and dependencies -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
