<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <title>User Posts</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/lightbox2@2.11.3/dist/css/lightbox.min.css" rel="stylesheet">

  <th:block th:replace="~{layout :: link-css}"></th:block>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/js/custom_js.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lightbox2@2.11.3/dist/js/lightbox.min.js"></script>

</head>
<body layout:decorate="~{layout}">
<th:block th:replace="~{layout :: header}"></th:block>

<main layout:fragment="content" class="container mt-4">

  <!-- Filter form -->
  <form id="filterForm" class="form-inline mb-3" th:action="@{/user-posts}" method="get">
    <select class="custom-select mr-sm-2 border-orange" id="selectedClass" name="selectedClass">
      <option value="">Chọn khối</option>
      <option th:each="classEntity : ${classEntities}"
              th:value="${classEntity.id}"
              th:text="${classEntity.name}"
              th:selected="${classEntity.id == selectedClassId}"></option>
    </select>
    <select class="custom-select mr-sm-2 border-orange" id="selectedSubject" name="selectedSubject">
      <option value="">Chọn môn học</option>
      <option th:each="subjectEntity : ${subjectEntities}"
              th:value="${subjectEntity.id}"
              th:text="${subjectEntity.name}"
              th:selected="${subjectEntity.id == selectedSubjectId}"></option>
    </select>
    <button type="submit" class="btn btn-primary">Lọc</button>
  </form>

  <!-- Create new post button -->
  <div class="d-flex align-items-center mb-3">
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16" style="color: orange; padding: 10px;">
      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
      <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
    </svg>
    <input type="text" id="textInput" placeholder="Nhập văn bản vào đây..." class="form-control ml-2" readonly>
  </div>

  <div id="postCreationForm">
    <form id="createPostForm" th:action="@{/user-posts/new}" th:object="${user_Post}" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label for="content">Content:</label>
        <textarea id="content" th:field="*{content}" class="form-control"></textarea>
        <span id="contentError" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label for="classEntity">Class:</label>
        <select id="classEntity" th:field="*{classEntity}" class="form-control">
          <option value="">Select a class</option>
          <option th:each="classEntity : ${classEntities}" th:value="${classEntity.id}" th:text="${classEntity.name}"></option>
        </select>
        <span id="classEntityError" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label for="subjectEntity">Subject:</label>
        <select id="subjectEntity" th:field="*{subjectEntity}" class="form-control">
          <option value="">Select a subject</option>
          <option th:each="subjectEntity : ${subjectEntities}" th:value="${subjectEntity.id}" th:text="${subjectEntity.name}"></option>
        </select>
        <span id="subjectEntityError" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label for="images">Images:</label>
        <input type="file" id="images" name="images" multiple class="form-control-file">
        <span id="imagesError" class="text-danger"></span>
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>

  <div id="successMessage" class="alert alert-success" style="display: none;"></div>
  <div id="message" class="alert" role="alert" style="display: none;"></div>


  <!-- User posts list -->
  <div th:if="${not #lists.isEmpty(userPosts)}">
    <h2>Bài viết gần đây</h2>
    <div th:each="userPost : ${userPosts}" class="card mb-3">
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-between mb-2">
          <div class="d-flex align-items-center">
            <a th:href="@{/profile(userId=${userPost.user.id})}">
              <img th:if="${userPost.user.image != null}"
                   th:src="'data:image/jpeg;base64,' + ${userPost.user.getBase64Image()}"
                   class="rounded-circle mr-2"
                   width="50" height="50" />
            </a>
            <div>
              <h5 class="card-title mb-0" th:text="${userPost.user.name}"></h5>
              <h6 class="card-subtitle mt-1 text-muted" style="color: #6c757d; font-size: 0.85rem;" th:text="${#dates.format(userPost.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></h6>
            </div>
          </div>
          <div class="d-flex align-items-center ml-auto">
            <form th:if="${#lists.contains(followedPosts, userPost)}" th:action="@{/user-posts/{id}/unfollow(id=${userPost.id})}" method="post" class="d-inline mr-2">
              <button type="submit" class="btn btn-outline-info">Unfollow</button>
            </form>
            <form th:unless="${#lists.contains(followedPosts, userPost)}" th:action="@{/user-posts/{id}/follow(id=${userPost.id})}" method="post" class="d-inline mr-2">
              <button type="submit" class="btn btn-outline-info">Follow</button>
            </form>
          </div>
        </div>
        <hr>
        <div class="d-flex align-items-center text-right p-2" style="background-color: #f8f9fa; color: #6c757d; border-radius: 5px;">
          <p class="mb-0 mr-2">Class: <span th:text="${userPost.classEntity.name}"></span></p>
          <p class="mb-0"> Subject: <span th:text="${userPost.subjectEntity.name}"></span></p>
        </div>


        <p class="card-text mt-2" th:text="${userPost.content}"></p>
        <div class="post-images mb-2 d-flex flex-wrap">
          <a th:each="image : ${userPost.images}" th:href="'data:' + ${image.type} + ';base64,' + ${@base64EncoderUtil.encodeToString(image.data)}" data-lightbox="userPostImages">
            <img th:src="'data:' + ${image.type} + ';base64,' + ${@base64EncoderUtil.encodeToString(image.data)}" class="img-thumbnail mr-1 mb-1" style="width: 100%; max-width: 400px; height: auto;" />
          </a>
        </div>
        <hr>
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex justify-content-start align-items-center">
            <button type="button" class="btn btn-outline-primary like-btn mr-2" th:data-post-id="${userPost.id}">
              <i class="fa-solid fa-thumbs-up"></i> <!-- Icon for Like -->
              <span th:text="${#lists.contains(userPost.userPostLikes, #authentication.principal.id) ? 'Unlike' : 'Like'}" class="ml-1"></span>
            </button>
            <span class="like-count mr-2" th:text="${userPost.likes}"></span>
            <a th:href="@{/user-posts/{id}(id=${userPost.id})}" class="btn btn-outline-secondary mr-2">
              <i class="fa-regular fa-message"></i> Comment
            </a>
            <p class="mb-0"><span th:text="${userPost.commentCount}"></span></p>
          </div>
          <form th:action="@{/user-posts/{id}/report(id=${userPost.id})}" method="post" class="d-inline-flex align-items-center mr-2">
            <input type="text" name="reason" placeholder="Reason for reporting" class="form-control mr-2" required>
            <button type="submit" class="btn btn-outline-warning">
              <i class="fa-solid fa-flag"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>



  <div th:if="${#lists.isEmpty(userPosts)}">
    <p>No posts found.</p>
  </div>
</main>

<th:block th:replace="~{layout :: footer}"></th:block>

<script>
  $(document).ready(function() {
    $('#submitBtn').click(function(event) {
      event.preventDefault(); // Ngăn chặn hành động mặc định của button

      // Lấy dữ liệu từ form
      var form = $('#createPostForm')[0];
      var formData = new FormData(form);

      // Gửi AJAX request
      $.ajax({
        type: 'POST',
        enctype: 'multipart/form-data',
        url: '/user-posts/new',
        data: formData,
        processData: false, // Không xử lý dữ liệu
        contentType: false, // Không đặt lại kiểu dữ liệu
cache: false, // Không cache kết quả request
        timeout: 600000, // Timeout sau 600 giây

        success: function(data) {
          // Xử lý thành công, hiển thị thông báo
          $('#message').text(data);
          $('#message').addClass('text-success');
          $('#message').removeClass('text-danger');
          $('#message').fadeIn().delay(3000).fadeOut();
          $('#createPostForm')[0].reset(); // Xóa form sau khi gửi thành công
        },
        error: function(xhr, status, error) {
          // Xử lý lỗi, hiển thị thông báo lỗi
          var errorMessage = xhr.responseJSON.message ? xhr.responseJSON.message : 'Đã xảy ra lỗi trong quá trình tạo bài đăng.';
          $('#message').text(errorMessage);
          $('#message').addClass('text-danger');
          $('#message').removeClass('text-success');
          $('#message').fadeIn().delay(3000).fadeOut();
        }
      });
    });
  });
</script>

</body>
</html>
