<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <title>User Post List</title>
  <style>
    .post-images img {
      max-width: 100px;
      max-height: 100px;
      margin-right: 10px;
    }
  </style>
  <!-- Replace link CSS from layout -->
  <th:block th:replace="layout :: link-css"></th:block>
</head>
<body layout:decorate="~{layout}">
<!-- Replace header from layout -->
<th:block th:replace="layout :: header"></th:block>

<main layout:fragment="content">
  <h1>User Post List</h1>
  <a th:href="@{/user-posts/new}">Create New User Post</a>
  <table>
    <tr>
      <th>Content</th>
      <th>Class</th>
      <th>Subject</th>
      <th>Created At</th>
      <th>Updated At</th>
      <th>Images</th>
      <th>Actions</th>
    </tr>
    <tr th:each="userPost : ${userPosts}">
      <td th:text="${userPost.content}"></td>
      <td th:text="${userPost.classEntity.name}"></td>
      <td th:text="${userPost.subjectEntity.name}"></td>
      <td th:text="${#dates.format(userPost.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
      <td th:text="${#dates.format(userPost.updatedAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
      <td class="post-images">
        <div th:each="image : ${userPost.images}">
          <img th:src="'data:' + ${image.type} + ';base64,' + ${@base64EncoderUtil.encodeToString(image.data)}" />
        </div>
      </td>
      <td>
        <a th:href="@{/user-posts/{id}/edit(id=${userPost.id})}">Edit</a>
        <a th:href="@{/user-posts/{id}/delete(id=${userPost.id})}">Delete</a>
      </td>
    </tr>
  </table>
</main>

<!-- Replace footer from layout -->
<th:block th:replace="layout :: footer"></th:block>
</body>
</html>
