<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin}">
<head>
    <meta charset="UTF-8">
    <title>Home Admin</title>
    <!-- Include CSS from layout -->
    <th:block th:replace="~{layoutAdmin :: link-css}"></th:block>
    <style>
        .container.mt-4 {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Adjust height as necessary */
        }
        img {
            max-width: 100%;
            height: auto; /* Keep aspect ratio */
        }
    </style>
</head>
<body>
<!-- Include header from layout -->
<th:block th:replace="~{layoutAdmin :: body}"></th:block>
<main>
    <div class="container mt-4">
        <img class="max-width" src="/image/homeadmin.jpg" alt="Home Admin" width="1000" height="800">
    </div>
</main>
<!-- Include footer from layout -->
<th:block th:replace="~{layoutAdmin :: footer}"></th:block>
</body>
</html>
